<template>
    <div>
        <navbar/>
        <sidebar/>
    </div>
</template>

<script>
import Navbar from "../dashboard/components/NavbarComponent.vue";
import Sidebar from "../dashboard/components/SidebarComponent.vue";

export default {
    name: 'Console',
    components: {
        Navbar,
        Sidebar
    }
}
</script>