<template>
    <div>
        <navbar/>
        <sidebar/>
    </div>
</template>

<script>
    import axios from "axios";
    import Navbar from "../dashboard/components/NavbarComponent.vue";
    import Sidebar from "../dashboard/components/SidebarComponent.vue";

    export default {
        name: 'Dashboard Admin',

        data() {
            return {
                loggedIn: localStorage.getItem("loggedIn"),
                token: localStorage.getItem("token")
            }
        },

        components: {
            Navbar,
            Sidebar
        },

        mounted() {
            console.log(this.token);
            if (!this.loggedIn) {
                return this.$router.push({
                    name: 'Login'
                });
            } else if (this.token) {
                axios.get(process.env.MIX_VUE_URL_API + "/user", {
                        headers: {
                            'Authorization': 'Bearer ' + this.token
                        }
                    })
                    .then(res => {
                        // console.log(res);
                    })
                    .catch(err => {
                        // console.log(err.response.status);
                        const status = err.response.status;
                        if (status === 401) {
                            localStorage.removeItem("loggedIn");
                            return this.$router.push({
                                name: 'Login'
                            });
                        }
                    });
            }
        }
    }

</script>