<template>
    <div>
        <navbar/>
        <section class="hero is-primary is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div v-if="loginFailed" class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            <div class="notification is-danger">
                                <button @click="loginFailed = !loginFailed" class="delete"></button>
                                <strong>Error</strong>
                                <p>{{ message }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            <form @submit.prevent="login" class="box">
                                <div class="field">
                                    <label for="" class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input type="email" v-model="admin.email" placeholder="e.g. bob@gmail.com"
                                            class="input">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Password</label>
                                    <div class="control has-icons-left">
                                        <input type="password" v-model="admin.password" placeholder="*********"
                                            class="input">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="checkbox">
                                        <input type="checkbox"> Ingat Saya
                                    </label>
                                </div>
                                <div class="field">
                                    <button type="submit" class="button is-success">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import Navbar from '../NavbarComponent.vue';

export default {
    name: 'Login',

    mounted() {
        console.log('Login Mounted');
        if (this.loggedIn) {
            return this.$router.push({ name: 'Dashboard' });
        }
    },

    components: {
        Navbar
    },

    data() {
        return {

            loggedIn: localStorage.getItem('loggedIn'),

            token: localStorage.getItem('token'),

            admin: [],

            validation: [],

            loginFailed: null,

            message: null,
        }
    },

    methods: {
        login() {
            if (this.admin.email && this.admin.password) {
                axios.get(process.env.MIX_VUE_URL + "/sanctum/csrf-cookie")
                    .then(response => {
                        console.log(response);
                        axios.post(process.env.MIX_VUE_URL_API + "/login", {
                                email: this.admin.email,
                                password: this.admin.password
                            })
                            .then(res => {
                                console.log(res);
                                if (res.data.success) {
                                    localStorage.setItem("loggedIn", "true");
                                    localStorage.setItem("token", res.data.token);
                                    this.loggedIn = true;
                                    return this.$router.push({ name: 'Dashboard' });
                                }
                            })
                            .catch(err => {
                                const response = err.response.data;
                                console.log(response);
                                if (response.success === false) {
                                    this.loginFailed = true;
                                    this.message = response.message;
                                }
                            });
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }else{
                this.loginFailed = true;
                this.message = "Mohon Masukkan Email & Sandi!";
            }
        }
    }
}

</script>
