<template>
    <div>
        <router-view/>
    </div>
</template>

<style>
@import "~bulma/css/bulma.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
</style>

<script>
export default {
    name: "Index"
}
</script>