<template>
    <div>
        <navbar/>
        Tentang Komponen!
    </div>
</template>

<script>
import Navbar from '../NavbarComponent.vue';
export default {
    name: 'Tentang',
    components: {
        Navbar
    },
    mounted() {
        console.log('Tentang component mounted.');
        if (this.loggedIn) {
            return this.$router.push({name: 'Dashboard'});
        }
    },
    data(){
        return {
            loggedIn: localStorage.getItem("loggedIn"),
            token: localStorage.getItem("token")
        }
    }
}
</script>