<template>
    <div>
        <navbar/>
        Komponen Beranda
    </div>
</template>

<script>
import Navbar from "../NavbarComponent.vue";

export default {
    components: {
        Navbar
    },
    mounted() {
        console.log('Beranda component mounted.');
        if (this.loggedIn) {
            return this.$router.push({name: 'Dashboard'});
        }
    },
    data(){
        return {
            loggedIn: localStorage.getItem('loggedIn'),
            token: localStorage.getItem('token')
        }
    }
}
</script>