<template>
    <div>
        <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <button @click="logout" class="button is-primary">
                                logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "Navbar",
        data(){
            return {
                token: localStorage.getItem("token")
            }
        },
        methods: {
            logout() {
                axios.get(process.env.MIX_VUE_URL_API + "/logout", {
                        headers: {
                            'Authorization': 'Bearer ' + this.token
                        }
                    })
                    .then(res => {
                        console.log(res);
                        if (res.data.success === true) {
                            localStorage.removeItem("loggedIn");
                            return this.$router.push({
                                name: 'Login'
                            });
                        }
                    })
                    .catch(err => {

                    });
            }
        }
    }
</script>
