<template>
    <div>
        <section class="main-content columns is-fullheight section">
            <aside class="column is-2 menu">
                <p class="menu-label">
                    Umum
                </p>
                <ul class="menu-list">
                    <li>
                        <router-link to="/dashboard" :class="{ 'is-active': Dashboard }">
                            Dashboard
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/console" :class="{ 'is-active': Console }">
                            Console
                        </router-link>
                    </li>
                </ul>
            </aside>
            <div class="container column is-10">
                <p>Ini Dashboard</p>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "Sidebar",
    data(){
        return{
            Dashboard: false,
            Console: false
        }
    },
    mounted(){
        if (this.$route.name === "Dashboard") {
            this.Dashboard = true;
        }else if(this.$route.name === "Console"){
            this.Console = true;
        }
    }
}
</script>